*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope';
    color: #fff;
}

body{
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}

button{
    position: absolute;
    bottom: 20vh;
    padding: 15px;
    border-radius: 5px;
    background-color: #00ff85;
    color: #0f0f0f;
    font-weight: 700;
    border: none;
}

.question{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    background-color: #424242;
    padding: 50px;
    min-height: 400px;
    min-width: 400px;
    border-radius: 10px;
}

.question input{
    margin-right: 10px;
}

.question:nth-child(1){
    flex-direction: column;
}

.none {
    display: none;
}